/* Global Styles (CSS or Styled Components) */


html, body, #root {
  background-color: #DCE4C9;
  /* background-image: url('./assets/Images/backImage.jpg'); */
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
